@media (max-width: 1297px) {
    mat-card {
        width: 600px;
    }
}

@media (max-width: 1000px) {
    mat-card {
        width: 600px;
    }
}

@media (max-width: 799px ) {
    mat-card {
        width: 100%;
        height: 100vh;
        border-radius: 0 !important;
    }
}

@media (max-width: 450px ) {
    .user-search-container {
        left: 18px;
    }
    .user-container {
        padding: 6px;
        max-width: 210px;
    }
    
}