<mat-card>
    <mat-card-header>
        <div class="">
            <h2>Add Channel</h2>
            <button mat-icon-button>
                <img src="assets/img/icons/close.svg" alt="tag">
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p>Channels serve your team for communication. Ideally, they should be topic-specific, for example, #marketing.</p>
        <div>
            <h3>Channel-Name</h3>
            <div>
                <input type="text" placeholder="e.g. Corporation Projects">
            </div>
        </div>
        <div>
            <div>
                <h3>Description</h3>
                <span>(optional)</span>
            </div>
             <div>
                <input type="text" placeholder="Your message">
            </div>
        </div>
    </mat-card-content>
</mat-card>