.member-view {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}


.online-status {
    width: 10px;
    height: 10px;
    background-color: var(--online);
    border-radius: 100%;
    position: absolute;
    bottom: 1px;
    left: 35px;
    border: 2px solid white;
}

.offline-status {
    background-color: grey;
}

.member {
    display: flex;
    align-items: center;
    position: relative;

    img {
        height: 50px;
        border-radius: 50%;
    }
}

h3 {
    font-size: 20px;
}

.add-member {
    padding: 4px 16px !important;
    border-radius: 24px;
    height: fit-content;
    width: fit-content;

    .display-flex {
        display: flex;
        align-items: center;

        img {
            height: 30px;
        }
    }
}

.add-member-container {
    margin: 16px 0;
    display: flex;
    justify-content: center;
}