<mat-card>
    <mat-card-header class="w100">
        <header class="w100">
            <div class="headline">
                <img src="assets/img/icons/tag-black.svg" alt="tag">
                <h3>EntwicklerTeam</h3>
            </div>
            <button mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </header>
    </mat-card-header>
    <mat-card-content class="w100">
        <div ></div>
        <div></div>
        <button mat-button class="main-button primary">
            Leave Channel
        </button>
    </mat-card-content>
</mat-card>