<!-- <div *ngIf="chatService.isMobile" class="header-mobile">
    <div class="logo-header-mobile">
      <button mat-icon-button [routerLink]="['/home']">
        <img src="assets/img/icons/chevron_left.svg">
      </button>
      <img class="logo" src="assets/img/icons/workspace-logo.svg" />
      <span>Code learning</span>
    </div>
    <div class="profile-container">
      <div class="profile-picture" (click)="openBottomSheet()">
        <img src="{{this.userService.currentUser.picture}}" alt="" />
      </div>
      <mat-menu class="menu-mobile" #menu="matMenu" xPosition="before"></mat-menu>
        <div class="separator-mobile"></div>
        <button (click)="openProfileDialog()" class="menu" mat-menu-item>Profile</button>
        <button (click)="logOutUser()" mat-menu-item>Log Out</button>
      </mat-menu>
    </div>
  </div> -->