@media (max-width: 1700px) {
    mat-card {
        width: 320px;
    }

    .chat-name,
    .channel-name {
        max-width: 250px;
    }
}

@media (max-width: 799px) {
    mat-card {
        width: 100%;
        height: fit-content;
        align-items: center;
        border-radius: 0 !important;
    }

    mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        margin: 0 auto;
    }

    .channel-name,
    .chat-name {
        max-width: 500px;
    }

    mat-expansion-panel-header {
        mat-panel-title {
            width: 240px;
        }
    }
}

@media(max-width: 565px) {
    .channel-name {
        max-width: 400px;
    }

    .chat-name {
        max-width: 300px;
    }
}

@media(max-width: 465px) {
    .channel-name {
        max-width: 300px;
    }

    .chat-name {
        max-width: 200px;
    }
}

@media(max-width: 365px) {
    .channel-name {
        max-width: 250px;
    }

    .chat-name {
        max-width: 150px;
    }
}

@media (max-height: 980px) {
    .direct-message-container {
        max-height: 200px;
    }

    .channel-section {
        max-height: 200px;
    }

    .channel-container {
        gap: 16px
    }
}

@media (max-height: 780px) {
    .direct-message-container {
        max-height: 125px;
    }

    .channel-section {
        max-height: 145px;
        gap: 16px;
    }

    .mat-expansion-panel-header {
        margin-bottom: 0 !important;
    }
}