mat-card {
    height: calc(100vh - 112px);
    width: calc(430px)
}

.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    button {
        height: 38px !important;
        width: 38px !important;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 24px;
            width: 24px;
        }
    }
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-size: 20px !important;
}

mat-expansion-panel {
    box-shadow: none !important;
}

.channel-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 330px;
}

.channel-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    overflow-y: scroll;
    max-height: 275px;
    &::-webkit-scrollbar {
        display: none;
    }
}



.direct-message-button {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    outline: none;
    border: none;
    background: none;
    overflow: hidden;
    padding: 8px;
    gap: 8px;
    cursor: pointer;
    h3 {
        white-space: nowrap;
        max-width: 100%;
    }
}

.profile-button-div {
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover {
        .delete-direct-button {
            display: flex;
        }
    }
  
}

.profile-message-container {
    position: relative;

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

.delete-direct-button {
    display: none;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    img {
        height: 32px;
    }
}

.online-status {
    bottom: 2px;
    right: 2px;
    height: 12px;
    width: 12px;
    position: absolute;
    background-color: var(--online);
    border-radius: 100%;
    border: 2px solid white;
}

.offline-status {
    background-color: grey;
}

.workspace-logo {
    height: 64px;
}

.direct-message-container {
    max-height: 330px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

mat-expansion-panel-header {
    margin-bottom: 16px;
    &:hover {
        background-color: transparent !important;

        mat-panel-title {
            color: var(--purple3);

            svg path {
                fill: var(--purple3);
            }
        }
    }

    mat-panel-title {
        margin-top: 4px;
        font-weight: 700 !important;
        font-size: 24px;
        height: 26px;
    }

    svg {
        height: 24px;
        width: 24px;
        margin-right: 8px;
        margin-bottom: 1px;
    }
}

.channel-button-container {
    button {
        border-radius: 32px;

        &:hover {
            color: var(--purple3);
        }
    }
}

.add_channel_button-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    svg {
        height: 22px;
        width: 22px;
    }
}

.add_channel_button {
    background-color: white;
    outline: none;
    border: 0;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: transparent !important;
        color: var(--purple3);

        svg path {
            fill: var(--purple3);
        }
    }
}

.channel-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    span {
        font-size: 20px;
        font-weight: 400;
    }
}

.unread-msg {
    background-color: #3fa9f5;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}
