<mat-card>
  <mat-card-content>
    <div class="headline">
      <img class="workspace-logo" src="assets/img/icons/workspace-logo.svg" alt="workspace-logo" />
      <h1>Code learning</h1>
      <button mat-icon-button>
        <img class="edit_square" src="assets/img/icons/edit_square.svg" alt="edit" />
      </button>
    </div>

    <div>
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title><img class="spoke" src="assets/img/icons/spoke.svg" alt="spoke"> Channels</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="channel-container">
            <button mat-button>#entwicklerteam</button>
            <button mat-button>
              <div class="add_channel_button">
                <img src="assets/img/icons/add_circle.svg" alt="add_circle">
                <span (click)="openDialog()">Add Channel</span>
              </div>
            </button>
          </div>  
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div>
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="direct-messages-headline"> 
                <img src="assets/img/icons/account_circle.svg" alt="account_circle"> 
                <span>Direct messages</span> 
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="direct-message-container">
            <div class="contact-container">
              <div class="profile-message-container">
                <img src="assets/img/avatars/avatar_male2.svg" alt="male2">
                <div class="online-status"></div>
              </div>
              <h3>Maximillian Schneider</h3>
            </div>
            <div class="contact-container">
              <div class="profile-message-container">
                <img src="assets/img/avatars/avatar_male2.svg" alt="male2">
                <div class="online-status"></div>
              </div>
              <h3>Maximillian Schneider</h3>
            </div>
            <div class="contact-container">
              <div class="profile-message-container">
                <img src="assets/img/avatars/avatar_male2.svg" alt="male2">
                <div class="online-status"></div>
              </div>
              <h3>Maximillian Schneider</h3>
            </div>
            <div class="contact-container">
              <div class="profile-message-container">
                <img src="assets/img/avatars/avatar_male2.svg" alt="male2">
                <div class="online-status"></div>
              </div>
              <h3>Maximillian Schneider</h3>
            </div>
            <div class="contact-container">
              <div class="profile-message-container">
                <img src="assets/img/avatars/avatar_male2.svg" alt="male2">
                <div class="online-status"></div>
              </div>
              <h3>Maximillian Schneider</h3>
            </div>
            <div class="contact-container">
              <div class="profile-message-container">
                <img src="assets/img/avatars/avatar_male2.svg" alt="male2">
                <div class="online-status"></div>
              </div>
              <h3>Maximillian Schneider</h3>
            </div>
            <div class="contact-container">
              <div class="profile-message-container">
                <img src="assets/img/avatars/avatar_male2.svg" alt="male2">
                <div class="online-status"></div>
              </div>
              <h3>Maximillian Schneider</h3>
            </div>
            <div class="contact-container">
              <div class="profile-message-container">
                <img src="assets/img/avatars/avatar_male2.svg" alt="male2">
                <div class="online-status"></div>
              </div>
              <h3>Maximillian Schneider</h3>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card-content>
</mat-card>
