mat-card {
    height: calc(100vh - 96px);
    width: 380px;
}

mat-card-content {
    padding: 0;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px 16px 16px;

    button {
        height: 38px !important;
        width: 38px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            height: 24px;
            width: 24px;
        }
    }
}

h2 {
    font-weight: bold;
    font-size: 26px;
}

h3 {
    font-size: 18px !important;
}

mat-expansion-panel {
    box-shadow: none !important;
}

.channel-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 300px;
}

.channel-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    overflow-y: scroll;
    max-height: 220px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.direct-message-button {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    outline: none;
    border: none;
    background: none;
    overflow: hidden;
    padding: 6px;
    gap: 6px;
    cursor: pointer;

    h3 {
        white-space: nowrap;
    }
}

.profile-button-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    &:hover {
        .delete-direct-button {
            opacity: 100;
        }
    }
}

.profile-message-container {
    position: relative;

    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}

.delete-direct-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    opacity: 0;

    img {
        height: 32px;
    }
}

.online-status {
    bottom: 2px;
    right: 2px;
    height: 12px;
    width: 12px;
    position: absolute;
    background-color: var(--online);
    border-radius: 100%;
    border: 2px solid white;
}

.offline-status {
    background-color: grey!important;
}

.workspace-logo {
    height: 48px;
}

.direct-message-container {
    max-height: 300px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

mat-expansion-panel-header {
    margin-bottom: 16px;

    &:hover {
        background-color: transparent !important;

        mat-panel-title {
            color: var(--purple3);

            svg path {
                fill: var(--purple3);
            }
        }

        .add-channel-btn {
            background-image: url('../../../src/assets/img/icons/add_purple.svg');
        }
    }

    mat-panel-title {
        margin-top: 4px;
        font-weight: 700 !important;
        font-size: 24px;
        height: 70px;
    }

    svg {
        height: 24px;
        width: 24px;
        margin-right: 8px;
        margin-bottom: 1px;
    }
}

.channel-button-container {
    max-width: 100%;

    button {
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        border-radius: 32px;

        &:hover {
            color: var(--purple3);
        }
    }
}

.chat-name,
.channel-name {
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
}

.new-message {
    position: fixed;
    right: 32px;
    bottom: 32px;
}

.add_channel_button-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;

    &:hover {
        font-weight: 600;
    }

    svg {
        height: 22px;
        width: 22px;
        margin-bottom: 2px;
    }
}

.space-between {
    justify-content: space-between;
}

.add_channel_button {
    background-color: white;
    outline: none;
    border: 0;
    cursor: pointer;
    color: var(--purple3);
    width: fit-content;

    svg path {
        fill: var(--purple3);
    }

    &:hover {
        background-color: transparent !important;

        svg path {
            font-weight: 700;
        }
    }
}

.channel-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    span {
        font-size: 20px;
        font-weight: 500;
        white-space: nowrap;
    }
}

.add-channel-btn {
    margin-left: auto;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../src/assets/img/icons/add_black.svg');
}