@media (max-width: 1279px) {
    .message-content,
    .my-message-content {
        font-size: 12px;
        max-width: 350px;
    }
    .name {
        font-size: 16px;
    }
    .date {
        font-size: 10px;
    }
    .comments {
        font-size: 10px;
    }
    .time-box {
        border-radius: 10px;
        padding: 0px 8px;
        font-size: 10px;
    }
    .creator-picture-container {
        img {
            height: 50px;
            width: 50px;
        }
    }
    .profile-button {
        font-size: 18px;
        img {
            height: 50px;
            width: 50px;
    
        }
    }
}

@media (max-width: 799px) {
    .header-mobile {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        height: 100px;
        align-items: center;
    }
    .profile-container {
        img {
            cursor: pointer;
        }
    }

    .logo-header-mobile {
        display: flex;
        align-items: center;
        gap: 8px;
        span {
            font-size: 22px !important;
            font-weight: bold !important;
        }
    }

    .logo {
        margin-right: 8px;
    }

    mat-card-header {
        padding: 4px 16px;
    }
    
    .chat-window-container {
        height: calc(100vh - 100px);
        border-radius: 0;
    }
}