.text-field-container {
    border: 1px solid lightgrey;
    border-radius: 24px;
    width: 100%;
    padding: 16px 0;
    background-color: white;
    textarea {
        outline: 0;
        border: 0;
        width: 100%;
        padding: 0 16px;
        resize: none;
        height: 64px;
        border-radius: 24px;

        &::-webkit-scrollbar {
            display: none;
        }
        &:disabled {
            background-color: white;
        }
    }
}

.border-right {
    border-right: 2px solid lightgrey;
}

.attachments {
    display: flex;
    align-items: center;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.message-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.date-container {
    display: flex;
    padding: 0 20px;
    align-items: center;
    margin: 16px 0;
}

.time-box {
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 4px 8px;
    white-space: nowrap;
}

.separator {
    height: 1px;
    background-color: var(--border);
    width: 100%;
}

.main-chat-container {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::-webkit-scrollbar {
        display: none;
    }
}

.my-messages {
    .message-box {
        flex-direction: row-reverse;
    }

    .message-data {
        flex-direction: row-reverse;
    }

    .my-message-content {
        border-radius: 24px 0 24px 24px;
        background-color: var(--purple2);
        color: white;
    }

    .message-container {
        align-items: flex-end;
    }

    .reaction-container {
        align-items: flex-end;
    }
}

.message-box {
    display: flex;
    padding: 0 20px;
    justify-content: flex-start;
    gap: 16px;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.message-data {
    display: flex;
    gap: 16px;
}

.message-content,
.my-message-content {
    border-radius: 0 24px 24px 24px;
    padding: 12px 16px;
    width: fit-content;
    max-width: 100%;
    color: black;
    background-color: var(--primary);
    font-size: 18px;
    max-width: 600px;
}

.message-row-container {
    position: relative;
    padding: 8px 0;
    cursor: pointer;

    &:hover {
        background-color: var(--primary);

        .last-comment {
            color: black;
        }

        .reaction {
            right: 25px;
            opacity: 1;
        }

        .own-message {
            left: 25px;
        }

        .message-content {
            background-color: white;
        }

        .my-message-content {
            background-color: var(--purple2) !important;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.reaction {
    border-radius: 24px 24px 0 24px;
    border: 1px solid lightgrey;
    width: fit-content;
    position: absolute;
    top: -25px;
    right: 0;
    opacity: 0;
    background-color: white;
    transition: all 125ms;
    display: flex;
    padding: 2px;

    button {
        height: 38px;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.own-message {
    left: 50px;
}

.creator-picture-container {
    display: flex;
    align-items: flex-start;

    img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
    }
}

.date {
    color: gray;
    font-size: 12px;
}

.name {
    font-size: 24px;
    font-weight: 500;
}

.reaction-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 6px;
}

.reaction-emoji-container {
    display: flex;
    gap: 8px;
    margin-top: 4px;
}

.reaction-emoji-button {
    background-color: white;
    outline: none;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 6px;
    font-size: 10px;
    cursor: pointer;

    &:hover {
        background-color: white !important;
    }

    img {
        height: 16px;
        width: 15px;
    }
}

.emojiPicker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.emoji-fit {
    font-size: 20px;
}

.textfield-content {
    margin-top: 16px;
}

.send-button {
    &:disabled {
        svg path {
            fill: var(--textGray);
        }
    } 
}

.chat-window-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chat-partner-container {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
    img {
        height: 100px;
        width: 100p;
        margin-right: 16px;
        border-radius: 50%;
    }
}

.user-highlighted {
    color: var(--purple3);
    cursor: pointer;
}

.empty-direct-message-container {
    margin-bottom: 40px;
    margin-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-button {
    display: flex;
    align-items: center;
    gap: 8px;
    outline: none;
    border: 0;
    background: none;
    padding: 8px 0 8px 8px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: var(--primary);
    }
    &:active {
        background-color: #d3d3d34d !important;
    }
    img {
        height: 64px;
        width: 64px;
        border-radius: 100%;
    }
}

.chat-window-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: white;
}

mat-card-header {
    border-bottom: 2px solid lightgrey;
    padding: 16px 16px 0;
}