@media (max-width: 1279px) {
    mat-card {
        width: 350px;
    }
    .picture,
    .name {
    img {
        height: 120px;
    }
}
}


@media (max-width: 500px) {
    mat-card {
    width: 90vw;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}
}
