<mat-card [ngSwitch]="editState">
    <mat-card-content *ngSwitchCase="false">
        <div class="header">
            <h1>Profile</h1>
            <button mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="picture">
            <img src="{{currentUser.picture}}" alt="" />
        </div>

        <div class="name">
            <h1>{{currentUser.name}}</h1>
            <span (click)="editState = true">Edit</span>
        </div>

        <div [ngSwitch]="currentUser.online">
            <div class="status" *ngSwitchCase="false">
                <div class="status-circle" style="background-color: grey !important;"></div>
                <span style="color: grey;">Inactive</span>
            </div>
            <div class="status" *ngSwitchCase="true">
                <div class="status-circle" style="background-color: #92c83e !important;"></div>
                <span style="color: #92c83e;">Active</span>
            </div>
        </div>

        <div class="email-container">
            <div class="mail-icon mr-16">
                <img src="assets/img/icons/mail.svg" alt="">
            </div>
            <div class="email">
                <h2>E-Mail Adress</h2>
                <span>{{currentUser.email}}</span>
            </div>
        </div>
    </mat-card-content>

    <mat-card-content *ngSwitchCase="true">
        <div class="header">
            <h1>Edit your profile</h1>
            <button mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="picture">
            <img src="{{currentUser.picture}}" alt="" />
        </div>

        <form>
            <div class="display-flex">
                <img class="mr-16" src="assets/img/icons/account_circle_big.svg">
                <h2>Full Name</h2>
            </div>

            <input [(ngModel)]="currentUser.name" name="newUserName" type="text">

            <div class="display-flex">
                <img class="mr-16" src="assets/img/icons/mail.svg">
                <h2>E-Mail Adress</h2>
            </div>

            <input [(ngModel)]="currentUser.email"  name="newEmail" type="email">
        </form>

        <div class="buttons w100">
            <button mat-button class="main-button mr-16" (click)="editState = false">
                Cancel
            </button>
            <button (click)="editUser()" class="main-button primary" mat-button>
                Save
            </button>
        </div>
    </mat-card-content>
</mat-card>