

<mat-card *ngIf="userService.currentUser.name != 'Guest'" [ngSwitch]="editState">
    <mat-spinner *ngIf="firestoreService.showSpinner == true" class="mat-spinner"></mat-spinner>
    <mat-card-content *ngSwitchCase="false">
        <div class="header">
            <h1>Profile</h1>
            <button mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="picture"> 
            <img src="{{user.picture}}" alt="" />
        </div>
        <div class="name">
            <h1>{{user.name}}</h1>
            <span (click)="editState = true" *ngIf="currentUser.id == user.id">Edit</span>
        </div>
        <div [ngSwitch]="user.online">
            <div class="status" *ngSwitchCase="false">
                <div class="status-circle" style="background-color: grey !important;"></div>
                <span style="color: grey;">Inactive</span>
            </div>
            <div class="status" *ngSwitchCase="true">
                <div class="status-circle" style="background-color: #92c83e !important;"></div>
                <span style="color: #92c83e;">Active</span>
            </div>
        </div>
        <div class="email-container">
            <div class="mail-icon mr-16">
                <img src="assets/img/icons/mail.svg" alt="">
            </div>
            <div class="email">
                <h2>E-Mail Adress</h2>
                <a matTooltip="Mail to"  href="mailto:{{user.email}}">{{user.email}}</a>
            </div>
        </div>
        <button  *ngIf="currentUser.id !== user.id" (click)="selectUser(user)" mat-button class="main-button primary mr-16 align-center" type="submit"> <span class="align-center"> <img src="assets/img/icons/message.svg" alt="">Message</span> </button>
    </mat-card-content>

    <mat-card-content *ngSwitchCase="true">
        <div class="header">
            <h1>Edit your profile</h1>
            <button mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div matTooltip="Change Picture" class="picture">
            <label class="custom-file-upload">
                <input class="dataInput" (change)="onFileSelected($event)" type="file" accept="image/jpeg, image/png" >
                <img src="{{user.picture}}" alt="" />
            </label>
        </div>

        <form>
            <div class="display-flex">
                <img class="mr-16" src="assets/img/icons/account_circle_big.svg">
                <h2>Full Name</h2>
            </div>
            <input [(ngModel)]="user.name" name="newUserName" type="text">
            <div class="display-flex">
                <img class="mr-16" src="assets/img/icons/mail.svg">
                <h2>E-Mail Adress</h2>
            </div>
            <input [(ngModel)]="user.email"  name="newEmail" type="email">
        </form>

        <div class="buttons w100">
            <button mat-button class="main-button mr-16" (click)="editState = false">
                Cancel
            </button>
            <button (click)="editUser()" class="main-button primary" mat-button>
                Save
            </button>
        </div>
    </mat-card-content>
</mat-card>



<mat-card *ngIf="userService.currentUser.name == 'Guest'">
    <mat-card-content >
        <div class="header">
            <h1>Profile</h1>
            <button mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="picture">
            <img src="assets/img/avatars/profile.svg" alt="" />
        </div>
        <div class="name">
            <h1>Guest</h1>
        </div>
        <div>
            <div class="status" >
                <div class="status-circle" style="background-color: #92c83e !important;"></div>
                <span style="color: #92c83e;">Active</span>
            </div>
        </div>
        <div class="email-container">
            <div class="mail-icon mr-16">
                <img src="assets/img/icons/mail.svg" alt="">
            </div>
            <div class="email">
                <h2>Guest</h2>
            </div>
        </div>
    </mat-card-content>
</mat-card>