mat-card {
    width: 400px;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 32px;
}

h1 {
    font-weight: 500;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mat-spinner-profile {
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.picture,
.name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 150px;
        border-radius: 50%;
    }
}

.name {
    justify-content: space-between;

    span {
        color: var(--purple3);
        font-size: 20px;

        &:hover {
            font-weight: 500;
            cursor: pointer;
        }
    }
}

.email-container {
    display: flex;
    // margin-bottom: 32px !important;

    span {
        color: var(--purple3);
    }
}

.status {
    display: flex;
    align-items: center;

    span {
        color: #92c83e;
        font-size: 20px;
    }

    .status-circle {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        margin-right: 23px;
    }
}

.mail-icon {
    margin-top: 4px;
    margin-left: -2px;
}

.display-flex {
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    input {
        width: 100%;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.message-button-container {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        margin: 0;
    }
}

@media (max-width: 1279px) {
    mat-card {
        width: 350px;
    }

    .picture,
    .name {
        img {
            height: 120px;
        }
    }
}

@media (max-width: 500px) {
    mat-card {
        width: 90vw;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-50%, -50%);
    }
}