mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    min-width: 350px;
    max-width: 600px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    color: var(--purple2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button-position {
    display: flex;
    justify-content: flex-end;
}

.border {
    border: 2px solid black;
}

p {
    margin-top: 8px !important;
    margin-bottom: 16px !important;
}

.add-members-container {
    margin-top: 24px;
    position: relative;
}

.user-search-container {
    position: absolute;
    height: fit-content;
    max-height: 400px;
    overflow-y: scroll;
    background-color: white;
    z-index: 2;
    left: 50px;
    top: 56px;
    border-radius: 0 32px 32px 32px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 16px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.user-container-highlighted {
    background-color: var(--primary);
    color: var(--purple3);
    font-weight: 700;
}

.profile-container {
    position: relative;
}

.online-status {
    width: 10px;
    height: 10px;
    background-color: var(--online);
    border-radius: 100%;
    position: absolute;
    bottom: 4px;
    right: 4px;
    border: 2px solid white;
}

.online {
    background-color: var(--online);
}

.offline {
    background-color: var(--textGray);
}

.selected-user-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px 0;
    gap: 8px;
}

.selected-user {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px;
    width: fit-content;
    background-color: var(--primary);
    border-radius: 24px;

    img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        padding: 0;

        img {
            height: 20px;
            width: 20px;
        }
    }

    span {
        font-size: 18px;
    }
}

@media (max-width: 799px) {
    mat-card-content {
        min-width: 0;
    }

    .selected-user-container {
        max-height: 285px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .selected-user {
        button {
            img {
                height: 14px;
                width: 14px;
            }
        }
    }

    .user-search-container {
        left: 15px;
        max-height: 300px;
    }
}

@media (max-width: 400px) {
    .selected-user {
        span {
            font-size: 16px;
        }
    }

    h1 {
        font-size: 22px !important;
    }

    .user-container {
        max-width: 150px;
        font-size: 12px;
        // padding: 6px;
        gap: 10px;

        img {
            height: 40px;
        }
    }

    .online-status {
        height: 8px;
        width: 8px;
        right: 2px;
    }
}