<mat-card>
    <mat-card-content>
        <header>
            <h1>Add Members</h1>
            <button mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </header>

        <h3># Entwicklerteam</h3>

        <app-dialog-add-channel-members></app-dialog-add-channel-members>

        <div class="button-position w100">
            <button mat-button class="main-button primary">
                Add
            </button>
        </div>
    </mat-card-content>
</mat-card>