mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    max-width: 600px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    color: var(--purple2);
}

input {
    width: 300px;
}

.button-position {
    display: flex;
    justify-content: flex-end;
}

.border {
    border: 2px solid black;
}