<div *ngIf="!animationIsFinished" class="start-animation-container"></div>
<div *ngIf="!animationIsFinished" class="start-animation hideafteranimation">
  <div class="start-animation-logo"><img src="assets\img\icons\logo.svg"></div><span
    class="start-animation-span">DABubble</span>
</div>



<div [ngSwitch]="switch_expression" class="login-container">
  <img class="start-logo" src="assets\img\icons\logo-home.svg">
  <div *ngSwitchCase="'login'" class="top-span"><span class="padding-bottom">New at DABubble ?</span><span
      (click)="changeSwitchCase('createAccount')" class="color-purple2-text cursor-pointer transform">Create
      Account</span></div>
  <div class="impressum-span"><a>Impress</a><a>Privacy Policy</a></div>

  <div *ngSwitchCase="'login'" class="login bg-white">
    <div class="form-container">
      <h1 class="color-purple2-text padding-bottom">Login</h1>
      <p>We recommend using the email address that you use at work.</p>
      <form [formGroup]="login">
        <div class="input-container margin-top ">
          <img src="assets\img\icons\mail.svg">
          <input matInput [(ngModel)]="email" matInput placeholder="E-mail" [formControl]="loginemail" required>
          <mat-error *ngIf="!loginemail.valid">{{getErrorMessageLogin()}}</mat-error>
        </div>

        <div class="placeholder"></div>
        <div class="input-container margin-top"><img src="assets\img\icons\lock.svg"><input type="password"
            [(ngModel)]="password" matInput placeholder="Password" [formControl]="loginpassword" required>
          <mat-error>{{getErrorMessageNoUser()}}</mat-error></div>

        <span (click)="changeSwitchCase('resetPassword')"
          class="margin-top25 color-purple2-text cursor-pointer transform">Forgot password ?</span>
        <div class="or-container margin-top">
          <div class="bottom-line"></div><span class="or">Or</span>
          <div class="bottom-line"></div>
        </div>
        <div mat-button class="input-container  cursor-pointer align-center  google-button">
          <img src="assets\img\icons\google.svg">
          <span (click)="loginWithGoogle()" class="color-purple2-text ">Login with google</span>
        </div>

        <div mat-button class="input-container  cursor-pointer align-center  google-button">
          <img style="width: 50px" src="assets\img\icons\apple.svg">
          <span (click)="loginWithApple()" class="color-purple2-text ">Login with apple</span>
        </div>

        <div class="submit-buttons margin-top">
          <button (click)="loginUser()" mat-button class="main-button primary mr-16" type="submit">Login</button>
          <button (click)="loginGuest()" mat-button class="main-button ">Guest login</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngSwitchCase="'createAccount'" class="login bg-white">
    <div class="form-container">
      <img (click)="changeSwitchCase('login')" class="position-relative cursor-pointer transform"
        src="assets\img\icons\arrow_back.svg">
      <h1 class="color-purple2-text padding-bottom"> Create account</h1>
      <p>Create your account with your name and e-mail adress.</p>

      <form [formGroup]="addUser" (ngSubmit)="createUser()">
        <div class="input-container margin-top">
          <img src="assets\img\icons\person.svg">
          <input minlength="5" [formControl]="newName" matInput placeholder="First and  Lastname" required>
          <div class="placeholder"></div>
          <mat-error *ngIf="this.newName?.hasError('minlength')">Your name need minimum 5 letters</mat-error>
        </div>
        <div class="input-container margin-top25">
          <img src="assets\img\icons\mail.svg">
          <input [formControl]="newEmail" matInput placeholder="E-mail" required>
          <div class="placeholder"></div>
          <mat-error *ngIf="!newEmail.valid">{{getErrorMessageNewEmail()}}</mat-error>
        </div>

        <div class="input-container margin-top25"><img src="assets\img\icons\lock.svg"><input minlength="6"
            type="password" [formControl]="newPassword" matInput placeholder="Password" required>
          <div class="placeholder"></div>
          <mat-error *ngIf="this.newPassword?.hasError('minlength')">You need a password with minium 6
            letters</mat-error> <mat-error *ngIf="this.userAlreadyInUse">This user already exists</mat-error>
        </div>

        <span class="margin-top gap  cursor-pointer align-center"><input [formControl]="disableSelect"
            class="cursor-pointer" type="checkbox">I accept
          the <a class="color-purple2-text transform">privacy policy</a></span>


        <div class="submit-buttons margin-top justify-content-end">
          <button mat-button class="align-self main-button primary" type="submit"
            [disabled]="!addUser.valid">Next</button>
        </div>
      </form>
    </div>
  </div>



  <div *ngSwitchCase="'avatar'" class="login bg-white">
    <div class="form-container">
      <img (click)="changeSwitchCase('createAccount')" class="position-relative cursor-pointer transform"
        src="assets\img\icons\arrow_back.svg">
      <h1 class="color-purple2-text padding-bottom"> Choose your Avatar</h1>
      <div class="big-profile-pic"><img class="userPic" src="{{this.picSrc}}"></div>
      <h2>{{newUser.name}}</h2>
      <form [formGroup]="addUser">
        <div class="choose-profile-pic margin-top"><span class="font-size20 w100 ">Choose from list</span>
          <div class="picture-container w100"> <img class="transform cursor-pointer "
              *ngFor="let pic of profileImages ; index as i;" (click)="changePicSrc(pic)" src="{{pic}}"></div>
        </div>
        <div class="upload-picture margin-top align-center"><span class="font-size20"></span> <button mat-button
            class="main-button" type="submit"> <label class="custom-file-upload">
              <input class="dataInput" (change)="onFileSelected($event)" [(ngModel)]="uploadFile" type="file">
              Upload file
            </label>
          </button></div>

        <div class="submit-buttons margin-top justify-content-end">

          <button mat-button (click)="uploadUser()" class="align-self main-button primary" type="submit">Next</button>
        </div>
      </form>



    </div>
  </div>



  <div *ngSwitchCase="'resetPassword'" class="login bg-white">
    <div class="form-container">
      <img (click)="changeSwitchCase('login')" class="position-relative cursor-pointer transform"
        src="assets\img\icons\arrow_back.svg">
      <h1 class="color-purple2-text padding-bottom">Reset password</h1>
      <p style="font-size:20px;">Please enter your E-mail adress.</p>
      <form [formGroup]="getEmailForNewPassword">
        <div class="input-container margin-top">
          <img src="assets\img\icons\mail.svg">
          <input matInput placeholder="E-mail" [(ngModel)]="resetEmail" formControlName="emailForReset" required>
          <div class="placeholder"></div>
          <mat-error *ngIf="this.emailForReset?.hasError('email')">Enter a valid e-mail</mat-error>
        </div>
        <p  *ngIf="!this.userService.resetEmailFound" class="margin-top25 grey-span-resetpw">Receive an e-mail to reset your password</p>
        <p  *ngIf="this.userService.resetEmailFound"class="margin-top25 grey-span-resetpw">An e-mail to reset your passoword was sent !</p>
        <div class="submit-buttons margin-top justify-content-end">
          <button mat-button (click)="sendResetEmail()" [disabled]="!this.emailForReset.valid" class="main-button primary"
            type="submit">Send Email</button>
        </div>
      </form>
    </div>
  </div>




  <!-- <div *ngSwitchCase="'newPassword'" class="login bg-white">
    <div class="form-container">
      <img (click)="changeSwitchCase('login')" class="position-relative cursor-pointer transform"
        src="assets\img\icons\arrow_back.svg">
      <h1 class="color-purple2-text padding-bottom">Reset password</h1>
      <p style="font-size:20px;">Create your account with your name and e-mail adress.</p>
      <form [formGroup]="addUser">
        <div class="input-container margin-top">
          <img src="assets\img\icons\mail.svg">
          <input matInput placeholder="E-mail"  formControlName="resetPasswordForm" required>
        </div>
        <p class="margin-top grey-span-resetpw">Receive an e-mail to reset your password</p>
        <div class="submit-buttons margin-top justify-content-end">
          <button mat-button (click)="changeSwitchCase('avatar')" class="main-button" type="submit">Send Email</button>
        </div>
      </form>
    </div>
  </div> -->
</div>