.start-animation-container {
    height: 100vh;
    width: 100%;
    background-color: #545BEC;
    opacity: 0;
    z-index: 2;
    position: absolute;
    animation: fadeAway 3s;
}

.animated-content-container {
    z-index: 4;
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.animation-content {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    gap: 16px;
    @media(min-width: 600px){
        animation: toLeftTop 3s forwards;
    }
    @media(max-width: 600px){
        animation: toTop 3s forwards;
    }
}

.start-animation-logo {
    display: flex;
    justify-content: flex-end;
    width: 100px;
    height: 100px;
    z-index: 5;
    position: relative;
    background-color: #545BEC;
    animation: decreaseSize 2s forwards;

    img {
        height: 100%;
        // width: 100%;
    }
}

.start-animation-span {
    font-size: 40px;
    z-index: 1;
    transform: translate(0);
    display: flex;
    animation: fadeToRight 2s;
    color: white;
    font-family: 'Nunito', 'Roboto', sans-serif !important;
}

.login-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--primary);
    z-index: 1;
    max-width: 1920px;
    margin: auto;
    padding: 2vh 0;
}

.login-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 60px;
}

.start-logo {
    width: 243px;
    height: 70px;
}

.impressum-span {
    display: flex;
    gap: 16px;
    color: var(--purple3);
    cursor: pointer;

    span {
        &:hover {
            font-weight: bold;
        }
    }
}

.login {
    max-width: 700px;
    width: 90%;
    box-shadow: 0px 2px 10px 0px #00000014;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    padding: 30px;
    text-align: center;
    position: relative;
}

.top-span {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.start-animation {
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: moveLeft 1s ease, moveToLeftCorner 1s ease 1.5s;
    overflow: hidden;
}

.padding-bottom {
    padding-bottom: 20px;
}

.margin-top {
    margin-top: 20px;
}

.or-container {
    display: flex;
    font-size: 18px;
    width: 200px;
}

.bottom-line {
    border-bottom: 2px solid #B7BADD;
    width: 45%;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

mat-error {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    font-size: 0.8em;
    color: red;
    visibility: visible;
    padding-top: 10px;
}

.account-popup {
    z-index: 10;
    position: absolute;
    text-align: center;
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
    top: 50%;
    color: white;
    left: 50%;
    padding: 30px;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    border-radius: 30px 30px 0px 30px;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    background-color: #444DF2;
    box-shadow: 0px 6px 10px 0px #00000033;
    animation: popupAnimation 2s ease;
}

@keyframes popupAnimation {
    from {
        transform: translate(-30%, -30%);
    }

    to {
        transform: translate(-50%, -50%);
    }
}

.grey-span-resetpw {
    font-size: 20px;
    color: #A0A0A0;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    height: 60px;
    border-radius: 100px;
    gap: 20px;
    font-size: 18px;
    color: var(--textGray);
    position: relative;
    border: 1px solid transparent;

    input {
        width: 100%;
    }

    img {
        margin-left: 20px;
    }

    &:hover {
        border: 1px solid var(--purple2);
        cursor: pointer;
    }

    &:focus {
        border: 1px solid var(--purple1);
    }

    &:active {
        border: 1px solid var(--purple1);
    }
}

.flex-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: flex-end !important;
    display: flex;
}

.gap {
    gap: 10px;
}

input {
    outline: none;
    border: none;
    background-color: var(--primary);
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.font-size20 {
    font-size: 20px;
}

.login-button {
    background-color: #545BEC;
    color: white;
    width: 100px;
    transition: background-color 0.2s ease, color 0.2s;

    &:hover {
        background-color: #FFFFFF !important;
        color: #545BEC;
        border: 1px solid #545BEC;
        box-shadow: 0px 2px 10px 0px #00000014;
    }
}

.google-button {
    transition: border 0.2s ease;
    display: flex;

    img {
        margin-left: 0;
    }

    align-items: center;
    justify-content: center;

    &:hover {
        border: 1px solid #545BEC;
        box-shadow: 0px 2px 10px 0px #00000014;
    }
}

.guest-button {
    background-color: #FFFFFF;
    border: 1px solid #545BEC;
    color: #545BEC;
    width: 120px;
    transition: background-color 0.2s ease, color 0.2s;

    &:hover {
        color: white !important;
        background-color: #545BEC !important;
        box-shadow: 0px 2px 10px 0px #00000014;
    }
}

.transform {
    &:hover {
        font-weight: bold;
    }
}

.margin-top25 {
    margin-top: 25px;
}

.cursor-pointer {
    cursor: pointer;
}

.responsive-create-account {
    display: none;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
}

.position-relative {
    position: absolute;
    left: 25px;
}

.position-relative-right {
    position: absolute;
    right: 25px;
}

.choose-profile-pic {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: left !important;

    img {
        border-radius: 50%;

        &:hover {
            box-shadow: 0px 1px 8px 2px var(--border);
            border-radius: 50%;
            background-color: var(--border);
        }
    }
}

.pic-border {
    box-shadow: 0px 1px 8px 2px grey;
    border-radius: 50%;
    background-color: grey;
}

input[type="email"] {
    background-image: url("/assets/img/icons/mail.svg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
}

.userPic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.picture-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

form {
    align-items: center;
    gap: 5px;
}

@keyframes fadeToRight {
    from {
        transform: translateX(-110%);
    }
}

@keyframes fadeAway {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes toLeftTop {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    66% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        top: 50px;
        left: 50px;
    }
}

@keyframes toTop {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    66% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    to {
        top: 50px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@keyframes decreaseSize {
    from {
        width: 190px;
    }
}

@keyframes moveLeft {
    from {
        transform: translate(-20%, -50%);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}