<div *ngIf="!animationIsFinished" class="start-animation-container"></div>
<div *ngIf="!animationIsFinished" class="start-animation hideafteranimation"><div class="start-animation-logo"><img  src="assets\img\icons\logo.svg"></div><span class="start-animation-span">DABubble</span></div>



<div class="login-container">
    
    
    <img class="start-logo" src="assets\img\icons\logo-home.svg">
    <div class="top-span">
        <span>Neu bei DABubble ?</span>
        <span><a>Konto erstellen</a></span>
    </div>

<div class="login">

</div>
</div>