<div *ngIf="!animationIsFinished" class="start-animation-container"></div>
<div *ngIf="!animationIsFinished" class="start-animation hideafteranimation">
  <div class="start-animation-logo"><img src="assets\img\icons\logo.svg"></div><span
    class="start-animation-span">DABubble</span>
</div>



<div [ngSwitch]="switch_expression" class="login-container">
  <img class="start-logo" src="assets\img\icons\logo-home.svg">
  <div *ngSwitchCase="'login'" class="top-span"><span class="padding-bottom">New at DABubble ?</span><span
      (click)="changeSwitchCase('createAccount')" class="color-purple2-text cursor-pointer transform">Create
      Account</span></div>
  <div class="impressum-span"><a>Impress</a><a>Privacy Policy</a></div>

  <div *ngSwitchCase="'login'" class="login bg-white">
    <div class="form-container">
      <h1 class="color-purple2-text padding-bottom">Login</h1>
      <p>We recommend using the email address that you use at work.</p>
      <form [formGroup]="login">
        <div class="input-container margin-top">
          <img src="assets\img\icons\mail.svg">
          <input [(ngModel)]="email"matInput placeholder="E-mail" [formControl]="loginemail" required>
         
        </div>
        <mat-error *ngIf="!loginemail.valid">{{getErrorMessage()}}</mat-error>
        <div class="input-container"><img src="assets\img\icons\lock.svg"><input type="password" [(ngModel)]="password" matInput placeholder="Password"
          [formControl]="loginpassword" required></div>
        <span (click)="changeSwitchCase('resetPassword')"
          class="margin-top color-purple2-text cursor-pointer transform">Forgot password ?</span>
        <div class="or-container margin-top">
          <div class="bottom-line"></div><span class="or">Or</span>
          <div class="bottom-line"></div>
        </div>
        <div mat-button class="input-container  cursor-pointer align-center  google-button">
          <img src="assets\img\icons\google.svg">
          <span (click)="loginWithGoogle()" class="color-purple2-text ">Login with google</span>
        </div>

        <div class="submit-buttons margin-top">
          <button (click)="loginUser()"  mat-button class="main-button primary mr-16" type="submit">Login</button>
          <button  routerLink="home" mat-button class="main-button ">Guest login</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngSwitchCase="'createAccount'" class="login bg-white">
    <div class="form-container">
      <img (click)="changeSwitchCase('login')" class="position-relative cursor-pointer transform"
        src="assets\img\icons\arrow_back.svg">
      <h1 class="color-purple2-text padding-bottom"> Create account</h1>
      <p>Create your account with your name and e-mail adress.</p>

      <form [formGroup]="addUser" (ngSubmit)="createUser()">
        <div class="input-container margin-top">
          <img src="assets\img\icons\person.svg">
          <input [formControl]="newName"  matInput placeholder="First and  Lastname" required>
        </div>
        <div class="input-container margin-top">
          <img src="assets\img\icons\mail.svg">
          <input [formControl]="newEmail" matInput placeholder="E-mail" required>
        </div>
        <mat-error *ngIf="!newEmail.valid">{{getNewErrorMessage()}}</mat-error>
        <div class="input-container"><img src="assets\img\icons\lock.svg"><input minlength="6" type="password" [formControl]="newPassword"  matInput placeholder="Password"
         required></div>
        <span class="margin-top gap  cursor-pointer align-center"><input [formControl]="disableSelect" class="cursor-pointer" type="checkbox">I accept
          the <a class="color-purple2-text transform">privacy policy</a></span>


        <div class="submit-buttons margin-top justify-content-end">
          <button mat-button  class="align-self main-button primary" type="submit"  [disabled]="!disableSelect.value || !addUser.valid">Next</button>
        </div>
      </form>
    </div>
  </div>



  <div *ngSwitchCase="'avatar'" class="login bg-white">
    <div class="form-container">
      <img (click)="changeSwitchCase('createAccount')" class="position-relative cursor-pointer transform"
        src="assets\img\icons\arrow_back.svg">
      <h1 class="color-purple2-text padding-bottom"> Choose your Avatar</h1>
      <div class="big-profile-pic"><img class="userPic"
        src="{{this.picSrc}}"></div>
        <h2>{{newUser.name}}</h2>
      <form [formGroup]="addUser">
        <div class="choose-profile-pic margin-top"><span class="font-size20 w100 ">Choose from list</span>
          <div  class="picture-container w100"> <img class="transform cursor-pointer " *ngFor="let pic of profileImages ; index as i;" (click)="changePicSrc(pic)"   src="{{pic}}"></div>
        </div>
        <div class="upload-picture margin-top align-center"><span class="font-size20">choose own picture</span> <button mat-button class="main-button" type="submit">Upload file</button></div>
        <div class="submit-buttons margin-top justify-content-end">
          <button mat-button (click)="uploadUser()" class="align-self main-button primary" type="submit">Next</button>
        </div>
      </form>
    </div>
  </div>



  <div *ngSwitchCase="'resetPassword'" class="login bg-white">
    <div class="form-container">
      <img (click)="changeSwitchCase('login')" class="position-relative cursor-pointer transform"
        src="assets\img\icons\arrow_back.svg">
      <h1 class="color-purple2-text padding-bottom">Reset password</h1>
      <p style="font-size:20px;">Create your account with your name and e-mail adress.</p>
      <form [formGroup]="getEmailForNewPassword">
        <div class="input-container margin-top">
          <img src="assets\img\icons\mail.svg">
          <input matInput placeholder="E-mail" [(ngModel)]="resetEmail" formControlName="emailForReset" required>
        </div>
        <p class="margin-top grey-span-resetpw">Receive an e-mail to reset your password</p>
        <div class="submit-buttons margin-top justify-content-end">
          <button mat-button (click)="sendResetEmail()" class="main-button" type="submit">Send Email</button>
        </div>
      </form>
    </div>
  </div>

  


  <!-- <div *ngSwitchCase="'newPassword'" class="login bg-white">
    <div class="form-container">
      <img (click)="changeSwitchCase('login')" class="position-relative cursor-pointer transform"
        src="assets\img\icons\arrow_back.svg">
      <h1 class="color-purple2-text padding-bottom">Reset password</h1>
      <p style="font-size:20px;">Create your account with your name and e-mail adress.</p>
      <form [formGroup]="addUser">
        <div class="input-container margin-top">
          <img src="assets\img\icons\mail.svg">
          <input matInput placeholder="E-mail"  formControlName="resetPasswordForm" required>
        </div>
        <p class="margin-top grey-span-resetpw">Receive an e-mail to reset your password</p>
        <div class="submit-buttons margin-top justify-content-end">
          <button mat-button (click)="changeSwitchCase('avatar')" class="main-button" type="submit">Send Email</button>
        </div>
      </form>
    </div>
  </div> -->
</div>