<mat-drawer-container autosize>
  <mat-card class="mr-16">
    <mat-card-header>
      <div class="header">
        <button (click)="openEditChannelDialog()" mat-button>
          <div class="chat-title">
            <img src="assets/img/icons/tag.svg" alt="" class="mr-16" />
            <span class="mr-16">Entwicklerteam</span>
            <mat-icon>expand_more</mat-icon>
          </div>
        </button>
        <div class="group-members-container">
          <div class="group-members">
            <img src="assets/img/avatars/avatar_male2.svg" alt="" />
            <img src="assets/img/avatars/avatar_male2.svg" alt="" />
            <img src="assets/img/avatars/avatar_male2.svg" alt="" />
          </div>

          <h3 class="member-count">5</h3>

          <button mat-icon-button class="add-user" (click)="openDialog()">
            <img src="assets/img/icons/add-person.svg" alt="" />
          </button>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content class="p-0 main-chat-container">
      <section> <!-- nachricht / tag -->
        <div class="date-container">
          <div class="separator"></div>
          <div class="time-box">Tuesday, 15. April</div>
          <div class="separator"></div>
        </div>

        <div class="message-row-container">
          <div class="message-box-received">
            <div class="message-avatar-container">
              <img src="assets/img/avatars/avatar_male2.svg" alt="" />
            </div>
            <div class="received-message-container ml-16">
              <div class="message-data">
                <span class="name">Maximillian Schneider</span>
                <span class="date">15:06</span>
              </div>

              <div class="received-message color-main">
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
              </div>

              <div class="reaction-container">
                <div class="comment-section">
                  <span class="comments color-purple2-text" (click)="thread.toggle()">2 Answers</span>
                  <span class="last-comment">Last Answer 14:55</span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="reaction">
            <button mat-icon-button>
              <img src="assets/img/emojis/checkGreen.svg" alt="">
            </button>
            <button mat-icon-button>
              <img src="assets/img/emojis/hands.svg" alt="">
            </button>
            <button mat-icon-button>
              <img src="assets/img/icons/add_reaction.svg" alt="">
            </button>
            <button mat-icon-button>
              <img src="assets/img/icons/comment.svg" alt="">
            </button>
          </div>

        </div>
      </section>

      <section>
        <div class="date-container">
          <div class="separator"></div>
          <div class="time-box">Today</div>
          <div class="separator"></div>
        </div>

        <div class="message-row-container">
          <div class="message-box">
            <div class="sent-message-container mr-16">
              <div class="message-data">
                <span class="date">15:06</span>
                <span class="name">Maximillian Schneider</span>
              </div>

              <div class="sent-message color-purple">
                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Beatae dolorem nesciunt tenetur laborum quibusdam perferendis
                  minus, illum fugit totam omnis, deleniti distinctio accusantium
                  quos voluptatibus. Aliquid totam cupiditate sit molestias?</span>
              </div>

              <div class="reaction-container">
                <div class="reaction-emoji-container">
                  <button class="reaction-emoji-button">
                    <img src="assets/img/emojis/rocket.svg" alt="rocket" />
                    <span>1</span>
                  </button>
                  <button class="reaction-emoji-button">
                    <img src="assets/img/emojis/check.svg" alt="rocket" />
                    <span>1</span>
                  </button>
                  <button class="add-reaction-button" mat-icon-button>
                    <img src="assets/img/icons/add_reaction.svg" alt="" />
                  </button>
                </div>
              </div>
            </div>

            <div class="message-avatar-container">
              <img src="assets/img/avatars/avatar_male2.svg" alt="" />
            </div>
          </div>

          <div class="reaction own-message">
            <button mat-icon-button>
              <img src="assets/img/emojis/checkGreen.svg" alt="">
            </button>
            <button mat-icon-button>
              <img src="assets/img/emojis/hands.svg" alt="">
            </button>
            <button mat-icon-button>
              <img src="assets/img/icons/add_reaction.svg" alt="">
            </button>
            <button mat-icon-button>
              <img src="assets/img/icons/comment.svg" alt="">
            </button>
            <button mat-icon-button>
              <img src="assets/img/icons/edit_square.svg" alt="">
            </button>
          </div>
        </div>
      </section>
    </mat-card-content>

    <mat-card-content class="textfield-content">
      <div class="text-field-container">
        <textarea placeholder="Message to #Entwicklerteam"></textarea>

        <div class="message-buttons">
          <div class="attachments">
            <div class="border-right">
              <button mat-icon-button>
                <img src="assets/img/icons/add.svg" alt="" />
              </button>
            </div>

            <button mat-icon-button>
              <img src="assets/img/icons/smiley.svg" alt="" />
            </button>

            <button mat-icon-button>
              <img src="assets/img/icons/@.svg" alt="" />
            </button>
          </div>

          <button mat-icon-button>
            <img src="assets/img/icons/send.svg" alt="" />
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-drawer #thread mode="side" position="end">
    <app-thread></app-thread>
  </mat-drawer>

</mat-drawer-container>