.chat-title {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 16px;
}

.group-members-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.group-members-button {
    padding: 4px 16px !important;
    border-radius: 24px;
    height: fit-content;
    width: fit-content;
}

.group-members {
    display: flex;
    align-items: center;

    img {
        height: 40px;
        margin-left: -12px;
        border-radius: 50%;
        border: 2px solid white;
    }
}

.add-user {
    background-color: #ECEEFE;
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-weight: 500 !important;
}

mat-card-header {
    border-bottom: 2px solid lightgrey;
}

.text-field-container {
    border: 1px solid lightgrey;
    border-radius: 24px;
    width: 100%;
    padding: 16px 0 8px 0;

    textarea {
        outline: 0;
        border: 0;
        width: 100%;
        padding-left: 16px;
        resize: none;
        height: 64px;
        border-radius: 24px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.border-right {
    border-right: 2px solid lightgrey;
}

.attachments {
    display: flex;
    align-items: center;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.message-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

mat-card {
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-container {
    display: flex;
    padding: 0 20px;
    align-items: center;
    margin: 16px 0;
}

.time-box {
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 4px 8px;
    white-space: nowrap;
}

.separator {
    height: 1px;
    background-color: #ADB0D9;
    width: 100%;
}


.main-chat-container {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.message-box-received {
    display: flex;
    padding: 0 20px;
    position: relative;
}

.received-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.received-message {
    font-size: 10px !important;
    border-radius: 0 32px 32px 32px;
    padding: 8px 8px 8px 16px;
    max-width: 400px;
}

.message-row-container {
    position: relative;
    padding: 8px 0;
    cursor: pointer;

    &:hover {
        .received-message {
            background-color: white;
        }

        .last-comment {
            color: black;
        }

        background-color: #ECEEFE;

        .reaction {
            transition: all 125ms;
            right: 25px;
            opacity: 1;
        }

        .own-message {
            transition: all 125ms;
            left: 25px !important;
            opacity: 1;
        }
    }
}

.reaction {
    border-radius: 24px 24px 0 24px;
    border: 1px solid lightgrey;
    width: fit-content;
    position: absolute;
    top: -25px;
    right: 0;
    opacity: 0;
    background-color: white;
    transition: all 125ms;
    display: flex;
    padding: 2px;

    button {
        height: 38px;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.own-message {
    left: 50px;
}

.message-box {
    display: flex;
    padding: 0 20px;
    justify-content: flex-end;
}

.sent-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.message-avatar-container {
    display: flex;
    align-items: flex-start;
}

.sent-message {
    color: white;
    font-size: 10px !important;
    border-radius: 32px 0 32px 32px;
    padding: 8px 8px 8px 16px;
    max-width: 400px
}

.message-data {
    display: flex;
    gap: 16px;
}

.date {
    color: gray;
    font-size: 10px;
}

.name {
    font-size: 12px;
    font-weight: bold;
}

.add-reaction-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background-color: white;

    img {
        height: 16px;
        width: 16px;
    }
}

.comment-section {
    display: flex;
    gap: 16px;
}

.comments {
    font-size: 10px;

    &:hover {
        font-weight: bold;
    }
}

.last-comment {
    font-size: 8px;
    color: grey;
}


.reaction-emoji-container {
    display: flex;
    gap: 8px;
    margin-top: 4px;
}


.reaction-emoji-button {
    background-color: white;
    outline: none;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 6px;
    font-size: 10px;
    cursor: pointer;

    &:hover {
        background-color: white !important;
    }

    img {
        height: 16px;
        width: 15px;
    }
}

mat-drawer-container,
mat-drawer {
    background-color: transparent;
    border: 0 !important;
}

.textfield-content {
    margin-top: 16px;
}