

mat-card {
    margin: 16px;
    position: relative;
    width: fit-content;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.privacy {
    width: 100%;
    margin: 10px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    top: 10px;
}




@media (max-width: 500px) {
    p {
        font-size: 12px;
    }
    a {
        font-size: 8px;
    }

}