/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--primary);
}

.color-main {
    background-color: var(--primary);
}

.bg-white {
    background-color: white !important;
}

h1,
h2,
h3 {
    margin: 0 !important;
}

.edit {
    background: white;
}

.ml-16 {
    margin-left: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.pl-16 {
    padding-left: 16px;
}

.pr-16 {
    padding-left: 16px;
}

* {
    box-sizing: border-box;
}

mat-card,
.mat-dialog-container {
    border-radius: 32px !important;
    box-shadow: none !important;
}

.mat-dialog-container {
    border-radius: 20px !important;
}

button {
    &:hover {
        background-color: var(--primary) !important;
    }
}

.color-purple {
    background-color: var(--purple2);
}

.p-0 {
    padding: 0 !important;
}

.color-purple2-text {
    color: var(--purple3);
}


.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-container .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 32px;
}

.dialog-edit-channel .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0 32px 32px 32px;
}

.w100 {
    width: 100%;
}

input {
    border-radius: 32px;
    padding: 16px;
    outline: none;
    border: 1px solid var(--border);

    &:hover {
        border: 1px solid var(--purple2);
    }

    &:focus {
        border: 1px solid var(--purple1);
    }
}


a {
    border-radius: 32px !important;
}


a {
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.main-button {
    border-radius: 24px !important;
    padding: 12px 24px !important;
    height: fit-content !important;
    width: fit-content !important;
    border: 1px solid var(--purple1) !important;
    color: var(--purple1) !important;
    transition: all 125ms !important;

    &:hover {
        opacity: 0.8 !important;
    }
}

.primary {
    background-color: var(--purple1) !important;
    color: white !important;

    &:hover {
        background-color: var(--purple1) !important;
    }
}

:root {
    --purple1: #444df2;
    --primary: #ECEEFE;
    --border: #ADB0D9;
    --purple2: #797EF3;
    --purple3: #535AF1;
    --textGray: #686868;

    
}

