/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #ECEEFE;
}

.color-main {
    background-color: #ECEEFE;
}

.bg-white {
    background-color: white !important;
}

h1,
h2,
h3 {
    margin: 0 !important;
}

.edit {
    background: white;
}

.ml-16 {
    margin-left: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.pl-16 {
    padding-left: 16px;
}

.pr-16 {
    padding-left: 16px;
}

* {
    box-sizing: border-box;
}

mat-card,
.mat-dialog-container {
    border-radius: 32px !important;
    box-shadow: none !important;
}

.mat-dialog-container {
    border-radius: 20px !important;
}

button {
    &:hover {
        background-color: #ECEEFE !important;
    }
}

.color-purple {
    background-color: #797EF3;
}

.p-0 {
    padding: 0 !important;
}

.color-purple2-text {
    color: #535AF1;
}


.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-container .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 32px;
}

.dialog-edit-channel .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0 32px 32px 32px;
}

.w100 {
    width: 100%;
}

input {
    border-radius: 32px;
    padding: 16px;
    outline: none;
    border: 1px solid #ADB0D9;

    &:hover {
        border: 1px solid #797EF3;
    }

    &:focus {
        border: 1px solid #444df2;
    }
}


a {
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}