/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #ECEEFE; }


.container {
    margin-top: 20px;
}

.bg-white {
    background-color: white !important;
}

h1 {
     margin: 0 !important;
}

h3 {
    margin: 0 !important;
}
.edit {
    background: white;
}

.ml-16 {
    margin-left: 16px;
}
.pl-16 {
    padding-left: 16px;
}

.pr-16 {
    padding-left: 16px;
}

.br-32 {
    border-radius: 32px !important;
}

.no-shadow {
    box-shadow: none !important;
}

