@media (max-width: 1700px) {
    mat-card {
        width: 395px;
    }
    h2 {
        font-size: 28px;
    }
    .channel-title {
        font-size: 14px;
    }
}

@media (max-width: 1500px) {
    mat-card {
        width: 345px;
    }
    .message-content {
        max-width: 210px;
        font-size: 12px !important;
    }
    .my-message-content {
        max-width: 210px;
        font-size: 12px !important;
    }
    .name {
        font-size: 16px;
    }
}


@media (max-width: 1279px) {
    mat-card {
        width: 290px;
    }
    h2 {
        font-size: 22px;
    }
    .channel-title {
        font-size: 10px;
    }
    .message-content {
        max-width: 160px;
        font-size: 10px !important;
    }
    .my-message-content {
        max-width: 160px;
        font-size: 10px !important;
    }
    .close-icon {
        height: 14px;
        width: 14px;
    }
    .message-box {
        img {
            height: 40px;
            width: 40px;
        }
    }
    .comments {
        font-size: 8px;
    }
}

@media (max-width: 1100px) {
    mat-card {
        width: 250px;
    }

    .header {
        gap: 8px;
    }
    .close-icon {
        height: 10px;
        width: 10px;
    }
    .close-thread {
        height: 24px;
        width: 24px;
    }
    .name {
        font-size: 12px;
    }
    .date {
        font-size: 7px;
    }
    .message-box {
        img {
            width: 32px;
            height: 32px;
        }
    }
    h2 {
        font-size: 18px;
    }

}

@media (max-width: 900px) {
    mat-card {
        width: 210px;
    }
    .message-box {
        padding: 0 10px;
    }
}

@media (max-width: 799px) {
    .header-mobile {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        height: 100px;
        align-items: center;
    }
 
       
.profile-container {
    img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }
}
    
    .logo-header-mobile {
        display: flex;
        align-items: center;
        gap: 8px;
        span {
            font-size: 22px !important;
            font-weight: bold !important;
        }
    }
    .logo {
        margin-right: 8px;
    }
    mat-card {
        border-radius: 0 !important;
        height: calc(100vh - 92px);
        margin-right: 0;
        width: 100%;
    }
    mat-card-header {
        padding: 0 16px;
    }
    h2 {
        font-size: 22px !important;
    }
    .channel-title {
        font-size: 12px;
    }
    .close-icon {
        height: 16px;
        width: 16px;
    }
}

@media (max-height: 900px) {
    .mt-thread {
        margin-top: 12px;
    }
    .comments-container {
        margin: 8px 0;
    }
    .message-row-container {
        margin-bottom: 8px;
    }
}