mat-card {
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-card-header {
    border-bottom: 2px solid lightgrey;
    padding-bottom: 8px;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex: 1;
    padding: 0 8px;
}

.header {
    display: flex;
    gap: 8px;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.channel-title {
    font-size: 10px;
}

.close-thread {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon {
    height: 16px;
    width: 16px;
}

.text-field-container {
    border: 1px solid lightgrey;
    border-radius: 24px;
    width: 100%;
    padding: 16px 0 8px 0;

    textarea {
        outline: 0;
        border: 0;
        width: 100%;
        padding: 0 16px;
        resize: none;
        height: 64px;
        border-radius: 24px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.main-chat-container {
    overflow-y: scroll; 
    padding: 10px 0 0 0 !important;

    &::-webkit-scrollbar {
        display: none;
    }
}

.message-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
}

.attachments {
    display: flex;
    align-items: center;
    gap: 4px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.border-right {
    border-right: 2px solid lightgrey;
}

.textfield-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    img {
        height: 16px;
        width: 16px;
    }
}

.message-row-container {
    position: relative;
    padding: 8px 0;
    cursor: pointer;
    margin-bottom: 16px;
    &:hover {
        .received-message {
            background-color: white;
        }

        .last-comment {
            color: black;
        }

        background-color: #ECEEFE;

        .reaction {
            transition: all 125ms;
            right: 25px;
            opacity: 1;
        }

        .own-message {
            transition: all 125ms;
            left: 25px !important;
            opacity: 1;
        }
    }
}

.message-box-received {
    display: flex;
    padding: 0 40px;
    position: relative;
}

.message-avatar-container {
    display: flex;
    align-items: flex-start;
}

.received-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.message-data {
    display: flex;
    gap: 16px;
}

.date {
    color: gray;
    font-size: 10px;
}

.name {
    font-size: 12px;
    font-weight: bold;
}


.received-message {
    font-size: 10px !important;
    border-radius: 0 32px 32px 32px;
    padding: 8px 8px 8px 16px;
    max-width: 200px;
}

.reaction {
    border-radius: 24px 24px 0 24px;
    border: 1px solid lightgrey;
    width: fit-content;
    position: absolute;
    top: -8px;
    right: 1px;
    opacity: 0;
    background-color: white;
    transition: all 125ms;
    display: flex;
    padding: 2px;

    button {
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        img {
            height: 20px;
            width: 20px;
        }
    }
}

.own-message {
    left: 50px;
}

.separator {
    height: 1px;
    background-color: #ADB0D9;
    width: 100%;
}

.comments-container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
    margin: 16px 0;
}

.comments {
    white-space: nowrap;
    color: #ADB0D9;
    font-size: 12px;
}

.sent-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.message-box {
    display: flex;
    padding: 0 20px;
    justify-content: flex-end;
}

.sent-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.sent-message {
    color: white;
    font-size: 10px !important;
    border-radius: 32px 0 32px 32px;
    padding: 8px 8px 8px 16px;
    max-width: 200px
}

.reaction-emoji-container {
    display: flex;
    gap: 8px;
    margin-top: 4px;
}


.reaction-emoji-button {
    background-color: white;
    outline: none;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 6px;
    font-size: 10px;
    cursor: pointer;

    &:hover {
        background-color: white !important;
    }

    img {
        height: 16px;
        width: 15px;
    }
}

.add-reaction-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background-color: white;

    img {
        height: 16px;
        width: 16px;
    }
}

.textfield-content {
    margin-top: 16px;
}