mat-card {
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
}

mat-card-header {
    border-bottom: 2px solid lightgrey;
    padding: 16px 16px 0;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.emoji-fit {
    font-size: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex: 1;
    padding: 0 8px;
    min-height: 64px;
}

.header {
    display: flex;
    gap: 12px;
}


.channel-title {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.close-thread {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-icon {
    height: 20px;
    width: 20px;
}

.text-field-container {
    border: 1px solid lightgrey;
    border-radius: 24px;
    width: 100%;
    padding: 16px 0 8px 0;

    textarea {
        outline: 0;
        border: 0;
        width: 100%;
        padding: 0 16px;
        resize: none;
        height: 64px;
        border-radius: 24px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}



.reaction-emoji-button {
    background-color: white;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 6px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
        background-color: white !important;
    }

    img {
        height: 16px;
        width: 15px;
    }
}


.main-chat-container {
    overflow-y: scroll;
    padding: 10px 0 0 0 !important;

    &::-webkit-scrollbar {
        display: none;
    }
}

.message-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
}

.attachments {
    display: flex;
    align-items: center;
    gap: 4px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.border-right {
    border-right: 2px solid lightgrey;
}

.textfield-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;

    img {
        height: 16px;
        width: 16px;
    }
}

.my-messages {
    .message-box {
        flex-direction: row-reverse;
    }

    .message-container {
        align-items: flex-end;
    }

    .message-data {
        flex-direction: row-reverse;
    }
}


.message-row-container {
    position: relative;
    padding: 8px 0;
    margin-bottom: 16px;

    &:hover {
        .message-content {
            background-color: white;
        }

        .last-comment {
            color: black;
        }

        background-color: var(--primary);

        .reaction {
            transition: all 125ms;
            right: 25px;
            opacity: 1;
        }

        .own-message {
            transition: all 125ms;
            left: 25px !important;
            opacity: 1;
        }
    }
}

.message-box {
    display: flex;
    padding: 0 20px;
    gap: 16px;

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

.message-avatar-container {
    display: flex;
    align-items: flex-start;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.message-data {
    display: flex;
    gap: 16px;
}

.date {
    color: gray;
    font-size: 12px;
    text-align: end;
}

.name {
    font-size: 20px;
    font-weight: 500;
}

.my-message-content {
    border-radius: 24px 0 24px 24px;
    background-color: var(--purple2) !important;
    color: white;
    padding: 12px 16px;
    max-width: 280px;
}

.message-content {
    border-radius: 0 24px 24px 24px;
    background-color: var(--primary);
    padding: 12px 16px;
    max-width: 280px;
}

.reaction {
    border-radius: 24px 24px 0 24px;
    border: 1px solid lightgrey;
    width: fit-content;
    position: absolute;
    top: -12px;
    right: 0;
    opacity: 0;
    background-color: white;
    transition: all 125ms;
    display: flex;
    padding: 2px;
    margin-top: 2px;

    button {
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        img {
            height: 20px;
            width: 20px;
        }
    }
}

.own-message {
    left: 50px;
}

.separator {
    height: 1px;
    background-color: var(--border);
    width: 100%;
}

.comments-container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
    margin: 16px 0;
}

.comments {
    white-space: nowrap;
    color: var(--border);
}

.reaction-emoji-container {
    display: flex;
    padding-left: 25px;
    gap: 8px;
    margin-top: 4px;

}

span {
    font-size: 18px;
}

.emojiPicker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.add-reaction-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    background-color: white;

    img {
        height: 16px;
        width: 16px;
    }
}

.textfield-content {
    margin-top: 16px;
}

.text-field-container {
    border: 1px solid lightgrey;
    border-radius: 24px;
    width: 100%;
    padding: 16px 0;
    background-color: white;

    textarea {
        outline: 0;
        border: 0;
        width: 100%;
        padding: 0 16px;
        resize: none;
        height: 64px;
        border-radius: 24px;

        &::-webkit-scrollbar {
            display: none;
        }

        &:disabled {
            background-color: white;
        }
    }
}

.send-button {
    &:disabled {
        svg path {
            fill: var(--textGray);
        }
    }
}

.mt-thread {
    margin-top: 32px;
}