header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    height: 75px;
}
.logo {
    width: 220px;
}
.trans {
    background-color: transparent;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
    }
}
.profile-picture {
    position: relative;
}

.online-status {
    bottom: 4px;
    right: 4px;
    height: 12px;
    width: 12px;
    position: absolute;
    background-color: var(--online);
    border-radius: 100%;
    border: 2px solid white;
}

h1 {
    margin: 0;
}
.home-container {
    padding: 16px 0 16px 0;
    height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    height: 500px;
    height: calc(100vh - 110px);
}

.workspace-button {
    position: absolute;
    bottom: 32px;
    left: 0;
    rotate: -90deg;
    transform-origin: top left;
    z-index: 10;
    background-color: white;
    border-radius: 0 0 10px 10px;
    font-size: 10px !important;
    padding: 0 24px;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.test-button {
    position: absolute;
    top: 20px;
    left: 50%;
}

mat-drawer-container {
    width: 100vw;
    background-color: transparent;
}

.main-chat-container {
    margin-left: 16px;
}

mat-drawer {
    background-color: transparent;
    border: 0 !important;
}

.search {
    border: 0;
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    max-width: 1000px;
    background: url('../../assets/img/icons/search.svg') no-repeat;
    background-color: white;
    background-position: 98%;
}

.add-members-container {
    position: absolute;
}

.date {
    color: gray;
    font-size: 10px;
}

.name {
    font-size: 18px;
    font-weight: 500;
}


.message-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.my-messages {
    .message-box {
        flex-direction: row-reverse;
    }

    .message-data {
        flex-direction: row-reverse;
    }

    .my-message-content {
        border-radius: 24px 0 24px 24px;
        background-color: var(--purple2);
        color: white;
    }

    .message-container {
        align-items: flex-end;
    }

    .reaction-container {
        align-items: flex-end;
    }
}



.message-row-container {
    padding: 10px;
    &:hover {
        background-color: var(--primary);
        cursor: pointer;
        border-radius: 20px;
       

        .my-message-content {
            background-color: var(--purple2) !important;
        }
    }
}


.message-content,
.my-message-content {
    border-radius: 0 24px 24px 24px;
    padding: 12px 16px;
    width: fit-content;
    max-width: 100%;
    color: black;
    background-color: var(--primary);
}

.message-data {
    display: flex;
    gap: 16px;
}

.message-box {
    display: flex;
    padding: 0 20px;
    justify-content: flex-start;
    gap: 16px;
}


.user-search-container {
    position: relative;
    height: fit-content;
    max-height: 400px;
    overflow-y: scroll;
    background-color: white;
    z-index: 2;
    left: 50%;
    top: 56px;
    border-radius: 32px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
    padding: 16px;
    width: 49vw;
    &::-webkit-scrollbar {
        display: none;
    }
}

.search-results {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-container {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 16px;
    border-radius: 32px;
    padding: 6px 24px;
    background-color: white;
    outline: 0;
    border: 0;
    max-width: 245px;
    cursor: pointer;

    img {
        height: 50px;
        border-radius: 100%;
    }

    &:hover {
        background-color: var(--primary);
    }

    span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.user-container-highlighted {
    background-color: var(--primary);
    color: var(--purple3);
    font-weight: 700;
}

.profile-container {
    position: relative;
}


.headline {
    padding: 0 16px 16px 16px;
}

.filtered-message-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8px;
}

.filtered-message-creator {
    display: flex;
    align-items: center;
    gap: 16px;
}

.filtered-message {
    font-size: 20px;
    font-weight: bold;
}

.by {
    font-weight: bold;
}

.filtered-message-channel {
    font-weight: bold;
}

b {
    color: var(--purple3);
}

.found-msg-container {
    display: flex;
    padding: 10px;
    gap: 12px;

    &:hover {
        background-color: var(--primary);
        cursor: pointer;
        border-radius: 20px;
    }

    img {
        height: 40px;
        width: 40px;
    }

    .message-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 4px;
        padding: 0;
    }

    .message-data {
        display: flex;
        gap: 8px;
    }

    .name {
        font-size: 16px;
        font-weight: 600;
    }

    .found-dm-content {
        font-size: 16px;
        word-break: break-word;
    }

    .found-msg-channel {
        font-size: 14px;
        color: grey;
        white-space: nowrap;
        max-width: 37vw;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}