<div class="home-container">
  <header>
    <div>
      <img src="assets/img/icons/logo-home.svg" alt="home" />
    </div>

    <div class="add-members-container">
      <input #search class="w100 input-members search" type="text" placeholder="Search" [(ngModel)]="searchInput"
          (input)="filterEverything()" (click)="this.isInputFocused = true;">

      <div class="user-search-container" *ngIf="isInputFocused" (click)="userSelected($event)">
        <h1>Users:</h1>
          <button class="user-container" *ngFor="let user of filteredUsers" (click)="selectUser(user)">
              <div class="profile-container">
                  <img src="{{user.picture}}" alt="profile">
                  <div class="online-status"></div>
              </div>
              <span>{{user.name}}</span>
          </button>
          <span *ngIf="filteredUsers.length < 1">No matching contact</span>
          <h1>Messages:</h1>
      </div>
      <div>
       
      </div>
  </div>

    <div class="profile-container">
      <h1>{{this.userService.currentUser.name}}</h1>
      <div class="profile-picture">
        <img src="{{currentUser.picture}}" alt="" />
        <div class="online-status"></div>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button (click)="openProfileDialog()" class="menu" mat-menu-item>Profile</button>
        <button (click)="logOutUser()" mat-menu-item>Log Out</button>
      </mat-menu>
    </div>
  </header>

  <main>
    <mat-drawer-container autosize>
      <mat-drawer #workspace mode="side" [opened]="true">
        <app-workspace></app-workspace>
      </mat-drawer>
      <div class="main-chat-container">
        <app-main-chat></app-main-chat>
      </div>
      <mat-drawer #thread mode="side" position="end">
        <app-thread></app-thread>
      </mat-drawer>
    </mat-drawer-container>


    <button class="workspace-button" type="button" mat-button (click)="workspace.toggle()">
      <span>Workspace-Menu</span>
      <mat-icon>expand_more</mat-icon>
    </button>
  </main>
</div>