@media (max-width: 1100px) {
    .header-menu-btn {
        position: fixed;
        right: 16px;
        opacity: 0;
    }

    h1 {
        font-size: 20px !important;
    }

    .logo {
        width: 200px;
    }
}

@media (max-width: 799px) {
    .home-container {
        height: auto;
        padding: 0;
    }

    .home-mobile {
        background-color: white;
        height: calc(100vh - 92px);
    }

    .add-members-container {
        position: relative;
        padding: 0 16px;
        width: 100%;
    }

    .search {
        position: static;
        transform: translate(0);
        border: 2px solid lightgray;
        margin-top: 16px;
        width: 100%;
    }

    .user-search-container {
        width: auto;
        position: absolute;
        right: 20px;
        left: 20px;
        top: 70px;
    }
}