header {
    display: flex;
    justify-content: space-between;
}
.trans {
    background-color: transparent;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
        width: 56px;
        height: 56px;
    }
}
.profile-picture {
    position: relative;
}

.online-status {
    bottom: 4px;
    right: 4px;
    height: 12px;
    width: 12px;
    position: absolute;
    background-color: var(--online);
    border-radius: 100%;
    border: 2px solid white;
}

h1 {
    margin: 0;
}
.home-container {
    padding: 16px;
    height: calc(100vh - 32px);
}

main {
    display: flex;
    justify-content: space-between;
    height: 500px;
    height: calc(100vh - 110px);
}

.workspace-button {
    position: fixed;
    bottom: 32px;
    left: 0;
    rotate: -90deg;
    transform-origin: top left;
    z-index: 10;
    background-color: white;
    border-radius: 0 0 10px 10px;
    font-size: 10px !important;
    padding: 0 24px;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.test-button {
    position: absolute;
    top: 20px;
    left: 50%;
}

mat-drawer-container {
    width: 100vw;
    background-color: transparent;
}

.main-chat-container {
    margin-left: 16px;
}

mat-drawer {
    background-color: transparent;
    border: 0 !important;
}

.search {
    border: 0;
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
    background: url('../../assets/img/icons/search.svg') no-repeat;
    background-color: white;
    background-position: 98%;
}